:root {
    --priority-color-high: #f5986a;
    --priority-color-mid: #eff371;
    --priority-color-normal: #90f551;

    --bg-color-all: black;
    --bg-color-sidebar: #5e63b6;
    --bg-color-topbar: #a393eb;

    --font-color-title: #27296d;
    --font-color-general: #f5c7f7;

    --color: #000;
}

* {
    box-sizing: border-box;
}

input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

img,
picture {
  max-width: 100%;
  display: block;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.hero {
    height: 100vh;
    background-color: var(--bg-color-all);

    display: grid;
    grid-template-columns: 1fr 5fr;
}

.sideBar {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    height: 100%;

    background-color: var(--bg-color-sidebar);

    padding: 20px;
    box-shadow: 2px 0px 2px var(--font-color-general);
}

.sidetextWrapper {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.sideBarAddWork, .sideBarAddProj {
    display: flex;
    
    font-size: 20px;
    gap: 5px;
    color: var(--font-color-general);
}

.sideBarAddWork {
    margin-top: 20vh;
}

.sideBarAddWork:hover, .sideBarAddProj:hover {
    cursor: pointer;
    color: var(--bg-color-topbar);
}

.topRow {
    grid-column: 2 / 4;
    background-color: var(--bg-color-topbar);
    
    border-bottom: 1px solid var(--bg-color-sidebar);
    box-shadow: 0 2px 2px var(--bg-color-sidebar);
    
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 25vh;

    margin-bottom: 35px;
}

.topRowLeft {
    font-size: 20px;
    width: 40vw;

    display: flex;
}

.searchLogo:hover {
    cursor: pointer;
}

.searchBar {
    border: 1px solid var(--bg-color-sidebar);
    border-radius: 12px;
    width: 100%;

    padding-left: 20px;
}

.topRowRight > label, .topRowRight > select {
    font-weight: bold;
    font-size: 20px;
    color: var(--font-color-general);
}

/* class to be created */
.toDoContainer {
    height: 75vh;
    grid-column: 2 / 4;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
}

.toDoCards {
    position: relative;
    border: 1px solid var(--bg-color-sidebar);
    background: linear-gradient(var(--bg-color-sidebar), var(--bg-color-topbar));
    max-height: 300px;

    border-radius: 8px;
    padding: 20px;

    display: flex;
    flex-direction: column;
}

.toDoCards::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 100%;
    border-radius: 8px 0 0 8px;
    background-color: var(--color);
}

.popUpTodo {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: (-50%, -50%);

    padding: 25px;
    width: 30vw;
    height: 30vh;

    border-radius: 8px;
    background-color: var(--bg-color-sidebar);

}

.popUpWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 10px;
}

.popUpTitle, .popUpDesc, .popUpCalender,
.popUpPriorityWrapper {
    display: flex;
    gap: 10px;

    width: 30px;
}

/* .popUpPriorityHigh {
    color: var(--priority-color-high)
}
.popUpPriorityMedium {
    color: var(--priority-color-mid)
}
.popUpPriorityNormal {
    color: var(--priority-color-normal)
} */

.popUpSubmit {
    font-size: 25px;
    width: 30px;
    padding: 10px;

    border-radius: 8px;
    background-color: var(--bg-color-topbar);
}

.popUpSubmit:hover {
    cursor: pointer;
    background-color: var(--font-color-general);
}